body {
  font-family: Arial, sans-serif;
  background: rgb(234, 152, 0);
  padding: 30px;
}

.back-link {
  text-decoration: none;
  color: #ff7a00;
  font-weight: bold;
}

/* BOX KERANJANG */
.hiasan {
  max-width: 420px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,.15);
}

/* JUDUL */
.hiasan h2 {
  text-align: center;
  margin-bottom: 15px;
}

/* ITEM */
.cart-items {
  margin-bottom: 15px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px dashed #ddd;
  font-size: 14px;
}

/* TOTAL */
.cart-total {
  font-weight: bold;
  font-size: 16px;
  text-align: right;
  margin: 15px 0;
}

/* TOMBOL */
.checkout-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #ff7a00;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background .2s;
}

.checkout-btn:hover {
  background: #e56b00;
}


