* {
  font-family: Arial, Helvetica, sans-serif;
  font: bold;
}

header {
  background-color: rgb(44, 132, 255);
  padding-bottom: 25px;
  border-radius: 5px;
}

.logo2 {
  display: flex;
  align-items: center;
  
  padding: 0px;
  
}

.logo2 img {
  width: 70px;
  height: 70px;
  margin: 0 0 0 20px;
}

.logo2 h1 {
  color: aliceblue;
  margin: 20px;
  text-align: center;
  
}

.heading {
  display: flex;
  justify-content: flex-start;
  margin-top: 0px;
  flex-wrap: wrap;
  background-color: rgb(126, 179, 240);
  padding: 15px;
  gap: 1pc;
  align-items: center;
}
.heading li {
  text-decoration-style: none;
  list-style: none;
  justify-items: inline;
  place-items: ;
}

.heading li a {
  color: rgb(0, 0, 0);
  transition: 0.5s;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
}

.heading li a:hover {
  border-radius: 5px;
  color: rgb(255, 255, 255);
  transition: 0.5s;
  background-color: rgb(0, 0, 0);
  padding: 5px;
  text-decoration: none;
}

.heading input[type="text"] {
  border-radius: 5px;
  position: relative;
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  flex-grow: 1;
  max-width: 150px;
}

.list {
  display: flex;
  margin-top: 30px;
  transition: 0.5s;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 35px;
}

.hilang {
  transition: 0.5s ease;
}

.manut a {
  border-radius: 5px;
  text-decoration: none;
  color: black;
  background-color: aliceblue;
  padding: 5px;
  transition: 0.5s;
}

.manut a:hover {
  border-radius: 5px;
  text-decoration: none;
  background-color: black;
  color: aliceblue;
  padding: 5px;
  transition: 0.5s;
}

.batas {
  margin-right: 5px;
  list-style: none;
}

footer {
  background-color:  rgb(44, 132, 255);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  margin-top: 30px;
}
.rpl {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: 170px;
  height: 260px;
  display: inline;
}

.rpl img {
  width: 170px;
  height: 260px;
  border-radius: 5px;
  display: block;
}

.manut {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s;
  text-align: center;
  padding: 10px;
}

.rpl:hover .manut {
  opacity: 1;
}

.manut p {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 7px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}
